.section1_single_product {
  background-color: #ffffff;
}
.section1_single_product .hamburger,
.single-product .woocommerce-breadcrumb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4rem 2rem 2rem 5rem;
}
.section1_single_product .hamburger a,
.single-product .woocommerce-breadcrumb a {
  color: #000000;
}
.section1_single_product .hamburger a:last-child,
.single-product .woocommerce-breadcrumb a:last-child {
  font-weight: 600;
}

.section1_single_product .wrapper,
.tfc_product .wrapper {
  padding: 5rem 0rem;
  justify-content: space-between;
  gap: 2rem;
}
.section1_single_product .wrapper .column:nth-of-type(1),
.tfc_product .wrapper .column:nth-of-type(1) {
  width: 40%;
}
.section1_single_product .wrapper .column:nth-of-type(1) .product_image {
  height: 87vh;
}
.section1_single_product .wrapper .column:nth-of-type(1) .product_image img {
  height: 87%;
}

.section1_single_product .wrapper .column:nth-of-type(2),
.tfc_product .wrapper .column:nth-of-type(2) {
  width: 40%;
  gap: 2rem;
}
.section1_single_product .wrapper .column:nth-of-type(2) .star_ratings,
.tfc_product .woocommerce-product-rating {
  display: flex;
}
.tfc_product .woocommerce-product-rating .star-rating{
  color: #f8931f!important;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .star_ratings
  .section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .star_ratings
  p
  span {
  font-weight: 600;
  color: #000000;
}
.section1_single_product .wrapper .column:nth-of-type(2) > h2 {
  font-size: 2.5rem;
}
.tfc_product .product_title {
  font-size: 2rem;
}
.section1_single_product .wrapper .column:nth-of-type(2) .after_title {
  align-items: center;
  gap: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}
.tfc_product .price {
  font-size: 1.5rem;
}
.section1_single_product .wrapper .column:nth-of-type(2) .product_meta,
.tfc_product .product_meta {
  gap: 1.5rem;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}
.tfc_product form[class="cart"] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0rem !important;
}
.tfc_product form .quantity {
  flex: 1;
}
.tfc_product form .quantity input[type="number"] {
  padding: 0.8rem 0.2rem 0.8rem 0.2rem;
  font-size: large;
}
.tfc_product form button[type="submit"] {
  flex: 4;
}
/* .tfc_product form  .quantity input[type=submit]{
  font-size: 1rem;
  font-weight: 500;
  color: #000000 !important;
  background-color: #efe33b !important;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  transition: 0.2s ease-in-out;
  max-width: max-content;
} */
.section1_single_product .wrapper .column:nth-of-type(2) .product_meta .number,
.tfc_product .number {
  padding: 1rem 2rem;
  border-radius: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .product_short_description
  ul {
  gap: 1rem;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .product_short_description
  ul
  li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.section1_single_product .wrapper .column:nth-of-type(2) .discount_section {
  gap: 1rem;
  margin-bottom: 2rem;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .discount_section
  .discount_btns {
  align-items: center;
  gap: 2rem;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .discount_section
  .discount_btns
  a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .discount_section
  .discount_btns
  a
  span:first-child {
  color: #000000;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .discount_section
  .discount_btns
  a
  span:last-child {
  color: white;
  background-color: #219653;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: -2rem;
  font-size: 0.75rem;
}

.section1_single_product .wrapper .column:nth-of-type(2) .add_to_cart_section,
.tfc_product form {
  gap: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .add_to_cart_section
  .counter,
.tfc_product .quantity {
  width: 30%;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .add_to_cart_section
  .global_btn
  .tfc_product
  form
  button[name="add-to-cart"] {
  width: 60%;
}
.tfc_product form button[name="add-to-cart"] {
  font-size: 1rem;
  font-weight: 500;
  color: #000000 !important;
  background-color: #efe33b !important;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  transition: 0.2s ease-in-out;
  flex: 4;
}
.section1_single_product .wrapper .column:nth-of-type(2) .payment_method {
  gap: 1rem;
}
.section1_single_product
  .wrapper
  .column:nth-of-type(2)
  .payment_method
  .column {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  color: #000000;
}

.section2_single_product .container_1760 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2_single_product .wrapper {
  padding: 5rem 0rem;
  align-items: center;
  text-align: center;
  width: 750px;
}
.section2_single_product .wrapper h1 {
  margin-bottom: 5rem;
}

.section2_single_product .wrapper .column {
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.section2_single_product .wrapper .column .inner_column {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section2_single_product .wrapper .column .inner_column span:last-child {
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 1rem 2rem;
}

.section3_single_product .container_1500 .wrapper {
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
  gap: 5rem;
}

.section3_single_product .container_1500 .wrapper .column:nth-of-type(1) {
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.section3_single_product .container_1500 .wrapper .column:nth-of-type(3) {
  gap: 4rem;
  align-items: center;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(3)
  .inner_wrapper {
  align-items: flex-start;
  justify-content: space-between;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(3)
  .inner_wrapper
  .inner_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 2rem;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(3)
  .inner_wrapper
  .inner_column
  img {
  width: 134px;
  height: 134px;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(3)
  .inner_wrapper
  .inner_column
  h3 {
  text-align: center;
}
.section3_single_product .container_1500 .wrapper .column:nth-of-type(3) > p {
  max-width: 1166px;
  text-align: center;
  font-size: 1.25rem;
}
.section3_single_product .container_1500 .wrapper .column:nth-of-type(3) > p a {
  color: #000000;
  text-decoration: underline;
  font-weight: 600;
}

.section3_single_product .container_1500 .wrapper .column:nth-of-type(4) {
  align-items: flex-start;
  justify-content: space-between;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(4)
  .inner_column {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 20%;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(4)
  .inner_column
  img {
  width: 134px;
  height: 134px;
}
.section3_single_product
  .container_1500
  .wrapper
  .column:nth-of-type(4)
  .inner_column
  h3 {
  text-align: center;
}

.section3_single_product .container_1500 .wrapper .column:nth-of-type(5) {
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  max-width: 1350px;
}
.section3_single_product .container_1500 .wrapper .column:nth-of-type(5) p {
  text-align: center;
  font-size: 1.25rem;
}

.section4_single_product .wrapper {
  padding: 5rem 0rem;
  max-width: 960px;
  margin-inline: auto;
  gap: 5rem;
}
.section4_single_product .wrapper h2 {
  text-align: center;
  font-size: 2.25rem;
}

.section5_single_product .wrapper {
  max-width: 1166px;
  padding: 5rem 0rem;
  margin-inline: auto;
  align-items: center;
  gap: 3rem;
}
.section5_single_product .wrapper h2 {
  font-size: 2.25rem;
  text-align: center;
}
.section5_single_product .wrapper p {
  font-size: 1.25rem;
  text-align: center;
}

.single_productPage_review_section .wrapper {
  gap: 4rem;
  padding: 5rem 0rem;
}
.single_productPage_review_section .wrapper h1 {
  text-align: center;
}
.single_productPage_review_section .wrapper p {
  text-align: center;
  font-size: 1.25rem;
  padding: 1rem;
  color: white;
  background-color: red;
}

.add_to_cart_popup_modal {
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  position: fixed;
  top: 15%;
  z-index: 99999;
  width: 100%;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
}
.add_to_cart_popup_modal .column:nth-of-type(1),
.tfc_single_product_modal .column:nth-of-type(1) {
  align-items: center;
  width: 40%;
  gap: 2rem;
  justify-content: space-between;
}
.tfc_single_product_modal .column:nth-of-type(1) .woocommerce-product-gallery__image {
  display: none!important;
}
.tfc_single_product_modal .column:nth-of-type(1) .woocommerce-product-gallery__image:nth-child(1){
  display: block!important;
}
.add_to_cart_popup_modal .column:nth-of-type(1) img,
.tfc_single_product_modal .column:nth-of-type(1) img {
  width: 90px !important;
  height: 90px !important;
}
.add_to_cart_popup_modal .column:nth-of-type(2) .price span,
.tfc_single_product_modal .column:nth-of-type(2) .price span {
  font-size: 1.5rem;
  font-weight: 600;
}
.add_to_cart_popup_modal .column:nth-of-type(3),
.tfc_single_product_modal .column:nth-of-type(3) {
  align-items: center;
  width: 33%;
  justify-content: flex-end;
}
.tfc_single_product_modal .column:nth-of-type(3) form[class="cart"] {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.tfc_single_product_modal .column:nth-of-type(3) form[class="cart"] input[type="number"]{
  font-size: 1.25rem;
  font-weight: 500;
  padding: .62rem .8rem;
}
.tfc_single_product_modal .column:nth-of-type(3) form[class="cart"] button[type="submit"]{
  font-size: 1rem;
  font-weight: 500;
  color: #000000!important;
  background-color: #efe33b!important;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  transition: background-color 0.2s ease-in-out;
}
.add_to_cart_popup_modal .column:nth-of-type(3) .add_to_cart_section {
  gap: 2rem;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section1_single_product .hamburger {
    padding: 2rem;
  }
  .section1_single_product .wrapper {
    flex-direction: column;
  }
  .section1_single_product .wrapper .column:nth-of-type(1) {
    width: 100%;
  }
  .section1_single_product .wrapper .column:nth-of-type(2) {
    width: 100%;
  }
  .section2_single_product .wrapper {
    padding: 3rem 2rem;
  }
  .section3_single_product .container_1500 .wrapper {
    padding: 3rem 0rem;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(3)
    .inner_wrapper {
    align-items: flex-start;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(3)
    .inner_wrapper
    .inner_column
    h3 {
    font-size: 1rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(3) > p {
    font-size: 1rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(4) {
    align-items: flex-start;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(4)
    > .inner_column
    h3 {
    font-size: 1rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(5) {
    margin-top: 0rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(5) > p {
    font-size: 1rem;
  }
  .section4_single_product .wrapper {
    padding: 3rem 0rem;
  }
  .section5_single_product .wrapper {
    padding: 3rem 0rem;
  }
  .section5_single_product .wrapper > p {
    font-size: 1rem;
  }
  .single_productPage_review_section .wrapper {
    padding: 3rem 0rem;
  }
}
@media screen and (max-width: 480px) {
  .section1_single_product .hamburger {
    padding: 2rem;
  }
  .section1_single_product .wrapper {
    padding: 2rem 0rem;
    flex-direction: column;
  }
  .section1_single_product .wrapper .column:nth-of-type(1) {
    width: 100%;
  }
  .section1_single_product .wrapper .column:nth-of-type(2) {
    width: 100%;
    gap: 1rem;
  }
  .section1_single_product .wrapper .column:nth-of-type(2) p {
    font-size: 0.75rem;
  }
  .section1_single_product
    .wrapper
    .column:nth-of-type(2)
    .product_short_description
    ul
    li {
    font-size: 0.875rem;
  }
  .section1_single_product
    .wrapper
    .column:nth-of-type(2)
    .add_to_cart_section
    .counter
    span {
    font-size: 1rem;
  }
  .section1_single_product
    .wrapper
    .column:nth-of-type(2)
    .add_to_cart_section
    .global_btn {
    padding: 1rem 2rem;
  }
  .section1_single_product
    .wrapper
    .column:nth-of-type(2)
    .payment_method
    .payment_icons {
    display: flex;
  }
  .section2_single_product .wrapper {
    width: 100%;
    padding: 2rem 0rem;
  }
  .section2_single_product .wrapper h1 {
    margin-bottom: 3rem;
  }
  .section2_single_product .wrapper .column {
    gap: 2rem;
    flex-direction: column;
  }
  .section3_single_product .container_1500 .wrapper {
    padding: 2rem 0rem;
    gap: 2rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(1) p {
    font-size: 0.75rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(3) > p {
    font-size: 0.75rem;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(3)
    .inner_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(3)
    .inner_wrapper
    .inner_column {
    width: 100%;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(3)
    .inner_wrapper
    .inner_column
    > h3 {
    font-size: 0.75rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(4)
    .inner_column {
    width: 100%;
  }
  .section3_single_product
    .container_1500
    .wrapper
    .column:nth-of-type(4)
    .inner_column
    > h3 {
    font-size: 0.75rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(5) {
    margin-top: 2rem;
  }
  .section3_single_product .container_1500 .wrapper .column:nth-of-type(5) > p {
    font-size: 0.75rem;
  }
  .section4_single_product .wrapper {
    padding: 2rem 0rem;
    gap: 3rem;
  }
  .section4_single_product .wrapper > h2 {
    font-size: 1.25rem;
  }
  .section5_single_product .wrapper {
    padding: 2rem;
    gap: 2rem;
  }
  .section5_single_product .wrapper > h2 {
    font-size: 1.25rem;
  }
  .section5_single_product .wrapper > p {
    font-size: 0.75rem;
  }
} /*# sourceMappingURL=single_product.css.map */
/* Custom Single Product */
/** Contact Form css */
.single-product .wpcf7 .wpcf7-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.single-product .wpcf7 .wpcf7-form p {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 786px;
}
.single-product .wpcf7 .wpcf7-form p span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.single-product .wpcf7 .wpcf7-form p span textarea {
  resize: none;
}
.single-product .wpcf7 .wpcf7-form .wpcf7-response-output {
  color: white;
  padding: 0.5rem 1rem;
}
/* contact form @media */
@media screen and (max-width: 769px) {
  .single-product .wpcf7 .wpcf7-form p {
    width: unset;
  }
  .single-product .wpcf7 .wpcf7-form p span {
    width: unset !important;
  }
  .single-product .wpcf7 .wpcf7-form p span textarea {
    max-width: 95%;
  }
}
/* .tfc_single_product_modal  */
